@media screen and (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }

  [aria-expanded="false"] + .nav-section-container {
    display: none;
  }

  [aria-expanded="true"] + .nav-section-container {
    display: block;
  }

  [aria-expanded="true"].navbar {
    background: var(--white);
    height: 5.375rem;
    border-bottom: 1px solid rgb(103 119 136 / 20%);
  }

  .nav-section-container {
    position: absolute;
    top: 5.375rem;
    left: 0;
    width: 100%;
    height: 42.5625rem;
    background: var(--white);
    z-index: 10;
    box-shadow: 0 var(--size-5) var(--size-5) -0.3125rem rgb(103 119 136 / 20%);
  }

  .nav-links {
    flex-direction: column;
    gap: 4.5625rem;
    position: absolute;
    width: 30.25rem;
    height: 9.5rem;
    left: 18.49%;
    top: 10.13%;
  }

  .hero-section-container {
    align-items: flex-start;
  }

  .hero-card-left {
    align-items: center;
    height: 19.0625rem;
  }
  .hero-card-left-title {
    align-items: flex-start;
  }

  .hero-card-left-title h2 {
    text-align: center;
  }

  .hero-card-left-clickable {
    justify-content: center;
  }

  .key-benefits-container {
    padding: var(--size-80) 0;
  }

  .key-benefits-card-default {
    min-width: 15rem;
  }

  .banner-content {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    text-align: center;
  }

  .left-banner {
    align-items: center;
    padding: 1.6875rem var(--size-30);
    min-width: unset;
    max-width: unset;
    width: 100%;
  }

  .left-banner h3 {
    text-align: center;
  }

  .right-banner {
    align-items: flex-end;
    min-width: unset;
    width: 100%;
  }

  .hubspot-section {
    flex-direction: column;
    align-items: center;
    gap: var(--size-10);
  }

  .hubspot-card-right {
    padding: 0;
    align-items: center;
  }

  .hubspot-title {
    align-items: center;
    width: 37.5rem;
    text-align: center;
  }

  .brands-list img {
    height: 1.6875rem;
  }

  .pricing-card-plan {
    max-width: unset;
  }

  .plan-header {
    align-items: center;
  }

  .plan-footer {
    width: 100%;
  }

  .hireus-left {
    width: 100%;
    flex-direction: row;
    padding: var(--size-40) var(--size-30) var(--size-20);
    align-items: center;
  }

  .footer-top-right-card-wrapper {
    min-width: 8.75rem;
  }
}

@media screen and (max-width: 375px) {
  .nav-links {
    width: auto;
    top: 4.3125rem;
    left: 8.125rem;
    height: auto;
    padding: 0.375rem var(--size-14);
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
  }

  .hero-section-container {
    padding: var(--size-40) var(--size-16) 0;
  }

  .hero-card-left {
    min-width: unset;
    height: unset;
  }

  .hero-card-left-title h2 {
    font-size: var(--size-26);
    line-height: unset;
  }

  .hero-card-right {
    width: 100%;
    height: 19.3125rem;
    min-width: unset;
    min-height: unset;
    flex: unset;
  }

  .google-logo {
    top: 0;
    left: 0;
  }

  .atlassian-logo {
    top: 0;
    left: 7.125rem;
  }

  .asana-logo {
    top: 0;
    left: 15.5rem;
  }

  .paypal-logo {
    top: 6.1875rem;
    left: 0;
  }

  .weave-logo {
    top: 6.1875rem;
    left: 11.5rem;
  }

  .googleAds-logo {
    top: 13.0625rem;
    left: 6.625rem;
  }

  .calendar-logo {
    top: 13.6875rem;
    left: 14.9375rem;
  }

  .key-benefits-container {
    padding: var(--size-40) 0px;
    gap: var(--size-40);
  }

  .key-benefits-title {
    padding: 0 var(--size-16);
  }

  .key-benefits-card-container {
    padding: var(--size-10) var(--size-16);
  }

  .banner-section {
    padding: 0px var(--size-16) var(--size-30);
  }

  .why-font-container {
    padding: 0 0 var(--size-60);
    gap: var(--size-40);
  }

  .why-font-title {
    margin: 0;
    padding: 0 var(--size-16);
  }

  .why-font-cards {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-17);
  }

  .wf-card {
    flex-direction: row;
    padding: 0;
    justify-content: flex-start;
  }

  .bullet-container {
    width: unset;
  }

  .line {
    display: none;
  }

  .banner-play-section {
    padding: 0 0 var(--size-20);
  }

  .circle-play-btn {
    top: 27.27%;
    left: 40.22%;
  }

  .hubspot-container {
    align-items: flex-start;
  }

  .hubspot-card-left {
    width: 100%;
    height: 23.875rem;
  }

  .dots-svg {
    max-width: unset;
    width: 9.75rem;
    top: 4.3125rem;
  }
  .hubspot-person {
    max-width: unset;
    width: 17.375rem;
    left: 4.0625rem;
  }

  .hubspot-title {
    width: 100%;
    padding: 0px var(--size-16);
  }

  .hubspot-desc {
    padding: 0 var(--size-20) 0 0;
  }

  .brands-section {
    padding: var(--size-40) 0 var(--size-60);
  }

  .brands-list {
    flex-direction: column;
    gap: var(--size-20);
  }

  .pricing-section-container {
    padding: 0 0 var(--size-60);
  }

  .pricing-section-cards {
    padding: 0 var(--size-16);
  }

  .pricing-card-plan {
    min-width: unset;
  }

  .pricing-card-row-default {
    flex-wrap: wrap;
  }

  .row-card-default {
    flex: unset;
  }

  .hireus-left {
    flex-wrap: wrap;
  }

  .hireus-left-top-title-container {
    width: 100%;
  }

  .hireus-left-top-title {
    align-items: center;
  }

  .hireus-left-top-title h4 {
    font-size: var(--size-15);
  }

  .hireus-left-top p {
    text-align: center;
  }

  .hireus-left-bottom {
    gap: var(--size-30);
  }

  .input-default-container {
    flex-wrap: wrap;
  }

  .hireus-right {
    padding: var(--size-30) var(--size-16);
    min-width: unset;
    width: 100%;
  }

  .footer-container {
    padding: var(--size-80) var(--size-16) var(--size-40);
  }

  .footer-section-top-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-top-left-card {
    width: 100%;
    align-items: center;
  }

  .co-contact {
    align-items: center;
    width: 100%;
    gap: var(--size-20);
  }

  .footer-top-right-card {
    flex-direction: column;
  }

  .footer-top-right-card-wrapper {
    align-items: center;
  }

  .footer-top-right-card-content {
    align-items: center;
    gap: var(--size-20);
  }

  .footer-bottom-header-container {
    gap: var(--size-30);
  }

  .fb-header-left {
    width: 100%;
    justify-content: center;
  }

  .fb-header-right {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-bottom-copywright-container h4 {
    text-align: center;
  }
}
