@media screen and (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }

  [aria-expanded="false"] + .nav-section-container {
    display: none;
  }

  [aria-expanded="true"] + .nav-section-container {
    display: block;
  }

  [aria-expanded="true"].navbar {
    background: var(--white);
    height: 86px;
    border-bottom: 1px solid rgb(103 119 136 / 20%);
  }

  .nav-section-container {
    position: absolute;
    top: 86px;
    left: 0;
    width: 100%;
    height: 681px;
    background: var(--white);
    z-index: 10;
    box-shadow: 0 5px 5px -5px rgb(103 119 136 / 20%);
  }

  .nav-links {
    flex-direction: column;
    gap: 73px;
    position: absolute;
    width: 484px;
    height: 152px;
    left: 18.49%;
    top: 10.13%;
  }

  .hero-section-container {
    align-items: flex-start;
  }

  .hero-card-left {
    align-items: center;
    height: 305px;
  }
  .hero-card-left-title {
    align-items: flex-start;
  }

  .hero-card-left-title h2 {
    text-align: center;
  }

  .hero-card-left-clickable {
    justify-content: center;
  }

  .key-benefits-container {
    padding: 80px 0;
  }

  .key-benefits-card-default {
    min-width: 240px;
  }

  /* .key-benefits-card-container {
    flex-direction: column;
    align-items: center;
  }

  .key-benefits-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
  } */

  /* .banner-section {
    height: 609px;
  } */

  .banner-content {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    text-align: center;
  }

  .left-banner {
    align-items: center;
    padding: 27px 30px;
    min-width: unset;
    max-width: unset;
    width: 100%;
  }

  .left-banner h3 {
    text-align: center;
  }

  .right-banner {
    align-items: flex-end;
    min-width: unset;
    width: 100%;
  }

  .hubspot-section {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .hubspot-card-right {
    padding: 0;
    align-items: center;
  }

  .hubspot-title {
    align-items: center;
    width: 600px;
    text-align: center;
  }

  .brands-list img {
    height: 27px;
  }

  .pricing-card-plan {
    max-width: unset;
  }

  .plan-header {
    align-items: center;
  }

  .plan-footer {
    width: 100%;
  }

  .hireus-left {
    width: 100%;
    flex-direction: row;
    padding: 40px 30px 20px;
    align-items: center;
  }

  .footer-top-right-card-wrapper {
    min-width: 140px;
  }
}
