.top-section-container {
  min-height: 33.25rem;
}

.top-section-content {
  width: 100%;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  padding: var(--size-10) var(--size-30);
  flex-wrap: wrap;
  width: 100%;
}

.navbar-toggler {
  position: absolute;
  right: 2.75rem;
  display: block;
  background-color: transparent;
  border: none;
  display: none;
}

.navbar-toggler i {
  font-size: var(--size-20);
  line-height: var(--size-20);
  font-weight: 900;
  cursor: pointer;
  pointer-events: none;
}

.navbar.sticky {
  position: fixed;
  z-index: 100;
  margin: 0;
  background: var(--white);
  box-shadow: 0 var(--size-5) var(--size-5) -0.3125rem rgb(103 119 136 / 20%);
  max-width: 64rem;
}

.header-logo img {
  width: 9.6875rem;
}

.nav-links {
  align-items: center;
  padding: 0.375rem var(--size-14);
  gap: var(--size-30);
}

.nav-list {
  align-items: flex-start;
  padding: 0;
  gap: var(--size-20);
}

.nav-list a li {
  font-size: var(--size-14);
  line-height: var(--size-17);
}

.nav-features-link a {
  color: var(--accent-color-main);
}

.navbar-btn {
  border-radius: var(--size-30);
  background: var(--accent-color-main);
}

.navbar-btn button {
  color: var(--white);
  font-size: var(--size-12);
  line-height: var(--size-15);
  background: transparent;
  border: none;
  padding: var(--size-15) var(--size-25);
  cursor: pointer;
}

.hero-section-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--size-10);
  padding: var(--size-40) var(--size-30) 0;
}

.hero-card-left {
  gap: var(--size-30);
  flex: 1;
  padding: 0 0 var(--size-60);
  min-width: var(--size-375);
}

.hero-card-left-title {
  gap: 0.6875rem;
  max-width: 20.875rem;
}

.hero-card-left-title h2 {
  font-size: var(--size-40);
  line-height: 3rem;
  color: var(--black);
}

.hero-card-left-title h5 {
  font-size: var(--size-14);
  line-height: var(--size-17);
}

.hero-card-left-clickable {
  align-items: center;
  gap: var(--size-24);
  width: 100%;
}

.play-video-btn button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--accent-color-main);
  color: var(--white);
  border-radius: var(--size-30);
  border: var(--size-1) solid transparent;
  padding: var(--size-15) var(--size-25);
  font-size: var(--size-12);
  line-height: var(--size-15);
  cursor: pointer;
}

.play-video-btn button i {
  font-size: var(--size-18);
  font-weight: 900;
  line-height: var(--size-18);
  color: var(--white);
}

.hero-card-left-clickable a {
  color: var(--accent-color-main);
  font-weight: 700;
  font-size: var(--size-14);
  line-height: var(--size-17);
}

.hero-card-right {
  flex: 1;
  position: relative;
  min-width: var(--size-375);
  min-height: 25.375rem;
}

.logo-default-sm {
  width: var(--size-60);
  background-color: var(--white);
  box-shadow: 0px var(--size-3) var(--size-13) rgba(0, 0, 0, 0.25);
  border-radius: var(--size-30);
  position: absolute;
  align-items: flex-start;
}

.logo-default-sm img {
  padding: var(--size-10);
}

.logo-default-lg {
  width: var(--size-80);
  background-color: var(--white);
  box-shadow: 0px var(--size-3) var(--size-13) rgba(0, 0, 0, 0.25);
  border-radius: var(--size-40);
  margin: auto;
  position: absolute;
}

.logo-default-lg img {
  padding: var(--size-16);
}

.google-logo {
  left: 13.42%;
  top: 2.46%;
}

.atlassian-logo {
  left: 36.69%;
  top: 2.46%;
}

.asana-logo {
  left: 79.66%;
  top: 2.46%;
}

.paypal-logo {
  left: 9.22%;
  top: 42.36%;
}

.weave-logo {
  left: 54.93%;
  top: 42.36%;
}

.googleAds-logo {
  left: 32.5%;
  top: 71.43%;
}

.calendar-logo {
  left: 76.31%;
  top: 76.35%;
}

.hero-logo-animation {
  animation-duration: 1s;
  animation-name: slideUp;
  animation-timing-function: ease;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(var(--size-60));
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.top-section-bg {
  width: 100%;
  height: 32.3125rem;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  z-index: -1;
}

.top-bg-svgs {
  width: 100%;
}

/* Key Benefits Section */
.key-benefits-container {
  text-align: center;
  padding: 7.5rem 0 var(--size-80);
  gap: var(--size-60);
}

.key-benefits-title {
  align-items: center;
  gap: var(--size-10);
}

.key-benefits-title h2 {
  font-size: var(--size-26);
  font-weight: 700;
  color: var(--black);
  line-height: var(--size-31);
  margin: 0;
}

.key-benefits-title h5 {
  line-height: var(--size-24);
}

.key-benefits-card-container {
  padding: var(--size-10) var(--size-30);
  gap: var(--size-30);
  flex-wrap: wrap;
  width: 100%;
}

.key-benefits-card-default {
  gap: var(--size-20);
  box-shadow: 0 var(--size-10) var(--size-20) rgba(0, 0, 0, 0.15);
  border: var(--size-1) solid var(--white);
  padding: var(--size-20);
  flex: 1;
  width: 13.6875rem;
  animation-iteration-count: 1;
  transform-origin: bottom;
  animation-fill-mode: forwards;
}

.key-benefits-card-default:hover {
  animation-name: hoverup;
}

@keyframes hoverup {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-0.625rem);
  }
}

.key-benefits-card-info {
  gap: var(--size-20);
  text-align: start;
}

.key-benefits-card-info img {
  width: var(--size-50);
}

.key-benefits-card-info h3 {
  color: var(--black);
  font-weight: 700;
  line-height: var(--size-19);
}

.key-benefits-card-info p {
  font-size: var(--size-14);
  line-height: var(--size-24);
}

.key-benefits-card-info a {
  font-size: var(--size-14);
  color: var(--accent-color-main);
  font-weight: 700;
}

.premium-sketch {
  align-items: center;
  gap: var(--size-10);
}
.sketch-icon {
  align-items: flex-start;
  gap: var(--size-10);
  padding: var(--size-4) var(--size-10);
  background: #01c9a7;
  border-radius: var(--size-15);
}
.sketch-icon span {
  font-size: var(--size-12);
  font-weight: 700;
  line-height: var(--size-15);
  color: var(--white);
  text-align: center;
}

/* banner section */
.banner-section {
  padding: 0px var(--size-30) var(--size-80);
  gap: var(--size-10);
}

.banner-content {
  flex-wrap: wrap;
  gap: var(--size-10);
  background: #f8fafe;
  justify-content: center;
}

.left-banner {
  justify-content: center;
  gap: var(--size-26);
  flex: 1 1 0;
  padding: var(--size-10) var(--size-30);
  min-width: var(--size-375);
  max-width: 28.125rem;
}

.left-banner h3 {
  font-size: var(--size-26);
  color: var(--black);
  margin-bottom: 0;
  line-height: var(--size-31);
}

.right-banner {
  justify-content: flex-end;
  gap: var(--size-10);
  flex: 1 1 0;
  min-width: var(--size-375);
  height: 29.375rem;
}

.right-banner img {
  height: 22.0625rem;
}

/* Why Font Section */

.why-font-container {
  align-items: center;
  padding: 0 0 var(--size-80);
}

.why-font-title {
  align-items: center;
  gap: var(--size-10);
  margin-bottom: var(--size-40);
}

.why-font-title h3 {
  font-size: var(--size-26);
  color: var(--black);
  font-weight: 700;
  margin: 0;
}

.why-font-title p {
  max-width: 37.5rem;
  text-align: center;
  margin-top: 0;
}

.why-font-cards {
  padding: 0 2.125rem;
}

.wf-card {
  justify-content: center;
  gap: var(--size-24);
  padding: var(--size-26) 0;
}

.wf-card h3 {
  width: 100%;
  text-align: center;
  color: var(--black);
  font-size: var(--size-15);
}

.bullet-container {
  align-items: center;
  gap: var(--size-4);
  width: 100%;
}

.bullet {
  width: var(--size-50);
  height: var(--size-50);
}

.line {
  background: #e6e9f2;
  height: var(--size-1);
  width: 100%;
  flex: 1;
}

.line-transparent {
  background: transparent;
}

/* Banner play section */

.banner-play-section {
  gap: var(--size-10);
  padding: 0 var(--size-30) var(--size-80);
}

.banner-container {
  position: relative;
}

.circle-play-btn {
  justify-content: center;
  align-items: center;
  padding: var(--size-10) 0 var(--size-10) var(--size-4);
  border-radius: 35px;
  box-shadow: 0 0 var(--size-10) rgb(0 0 0 / 25%);
  width: 4.375rem;
  height: 4.375rem;
  position: absolute;
  top: 42.82%;
  left: 46.37%;
  background: var(--white);
  cursor: pointer;
}

.circle-play-video {
  background: transparent;
  border: transparent;
  text-align: center;
}

.circle-play-video .fa-play {
  font-size: var(--size-20);
  color: var(--black);
  cursor: pointer;
}

.hubspot-section {
  align-items: flex-start;
  gap: var(--size-60);
  flex-wrap: wrap;
}

.hubspot-card-left {
  position: relative;
  width: 28.25rem;
  height: 35rem;
}
.dots-svg {
  max-width: 200px;
  position: absolute;
  top: 6.9375rem;
  left: 1.75rem;
}

.hubspot-person {
  max-width: 23.1875rem;
  max-height: 26.5625rem;
  position: absolute;
  top: 0;
  left: 5.0625rem;
}

.hubspot-card-right {
  flex: 1;
  justify-content: center;
  gap: var(--size-50);
  padding: 0px var(--size-30) 0px 0px;
  height: 35rem;
  min-width: 15rem;
}

.hubspot-title {
  padding: 0;
  gap: var(--size-30);
}

.hubspot-title img {
  width: 6.25rem;
}

.hubspot-title p {
  font-size: var(--size-22);
  color: var(--black);
  line-height: 2rem;
  margin: 0;
}

.hubspot-desc {
  padding: 0 var(--size-20) 6.25rem 0;
  gap: var(--size-4);
}

.hubspot-desc h3 {
  margin: 0;
  color: var(--black);
  font-size: var(--size-18);
  font-weight: 700;
  line-height: var(--size-22);
}

.hubspot-desc h4 {
  font-size: var(--size-14);
  font-weight: 700;
  line-height: var(--size-17);
  margin: 0;
}

/* Brands Section */
.brands-section {
  align-items: center;
  padding: 0 0 var(--size-80);
  gap: 2.8125rem;
}

.brands-title {
  padding: 0;
  gap: var(--size-10);
}

.brands-title h3 {
  font-size: var(--size-20);
  font-weight: 700;
  color: #5f6368;
  text-align: center;
  text-transform: uppercase;
  line-height: var(--size-24);
  margin: 0;
}

.brands-list {
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 0 var(--size-30);
}

.brands-list img {
  height: var(--size-40);
}

/* Pricing Section */
.pricing-section {
  gap: var(--size-60);
  padding: 0 0 7.5rem;
}

.pricing-section-title {
  align-items: center;
  gap: var(--size-10);
  width: 100%;
}

.pricing-section-title h3 {
  font-size: var(--size-26);
  font-weight: 700;
  line-height: var(--size-31);
  text-align: center;
  color: var(--black);
  margin: 0;
}

.pricing-section-title h4 {
  line-height: var(--size-19);
  text-align: center;
  margin: 0;
}

.pricing-section-cards {
  align-items: center;
  gap: var(--size-30);
  padding: 0 2.75rem;
  width: 100%;
  flex-wrap: wrap;
}

.pricing-card-plan {
  justify-content: center;
  gap: var(--size-50);
  padding: var(--size-40);
  min-width: 370px;
  max-width: 370px;
  min-height: 100%;
  border: var(--size-1) solid var(--white);
  box-shadow: 0 var(--size-10) var(--size-20) rgba(0, 0, 0, 0.15);
  flex: 1;
}

.plan-header {
  gap: var(--size-30);
  margin: 0;
}

.plan-price {
  align-items: flex-end;
  gap: 0.4375rem;
}

.plan-price h3 {
  font-size: var(--size-50);
  font-weight: 500;
  line-height: 3.8125rem;
  margin: 0;
  color: var(--black);
}

.plan-period {
  align-items: flex-start;
  padding: 0px 0px 0.5625rem;
  gap: 0.4375rem;
}

.plan-period h4 {
  font-size: var(--size-20);
  font-weight: 500;
  line-height: var(--size-24);
  margin: 0;
}

.plan-divider {
  width: 100%;
  height: var(--size-1);
  background: #8d8d8d;
}

.plan-header h4 {
  font-weight: 500;
  line-height: var(--size-24);
  margin: 0;
}

.plan-footer {
  align-items: center;
  gap: var(--size-10);
}

.plan-footer h4 {
  font-weight: 500;
  font-size: var(--size-12);
  line-height: var(--size-15);
  margin: 0;
}

.pricing-card-feat {
  gap: var(--size-10);
  flex: 1;
}

.pricing-card-row-default {
  align-items: flex-start;
}

.row-card-default {
  padding: var(--size-20);
  gap: var(--size-20);
  border: var(--size-1) solid var(--white);
  flex: 1;
}

.pricing-card-feat.sticky .row-card-default {
  animation-duration: 1s;
  animation-name: slideUp;
  animation-timing-function: ease;
}

.row-card-content {
  gap: var(--size-20);
}

.row-card-content img {
  width: var(--size-50);
  height: var(--size-50);
}

.row-card-content h3 {
  font-size: var(--size-18);
  font-weight: 700;
  line-height: var(--size-22);
  color: var(--black);
}

.row-card-content p {
  font-size: var(--size-14);
  line-height: var(--size-22);
}

.bottom-row-card-left-top-title {
  align-items: center;
  gap: var(--size-10);
}

.bottom-row-card-left-top-title h4 {
  font-weight: 700;
  line-height: var(--size-19);
  color: var(--black);
}

.bottom-row-card-left-top-title-status {
  align-items: flex-start;
  padding: var(--size-4) var(--size-10);
  gap: var(--size-10);
  background: #01c9a7;
  border-radius: var(--size-15);
}

.bottom-row-card-left-top-title-status span {
  color: var(--white);
  font-size: var(--size-12);
  line-height: var(--size-15);
  font-weight: 700;
}

.bottom-row-card-left-bottom {
  line-height: var(--size-24);
}

/* Hire Us Section */
.hireus-section {
  flex-wrap: wrap;
  align-items: center;
  background: #20335b;
}

.hireus-left {
  justify-content: center;
  padding: 0px 0px 0px 4.375rem;
  gap: var(--size-60);
  flex: 1;
}

.hireus-left-top {
  gap: 2rem;
}

.hireus-left-top-title-container {
  justify-content: center;
  gap: 2.125rem;
  width: 11.25rem;
}

.hireus-left-top p {
  max-width: 22.6875rem;
  line-height: var(--size-24);
  color: var(--white);
  font-style: italic;
}

.hireus-left-top-title {
  gap: var(--size-10);
}

.hireus-left-top-title h3 {
  font-weight: 700;
  font-size: var(--size-26);
  line-height: var(--size-31);
  text-align: center;
  color: var(--white);
}

.hireus-left-top-title h4 {
  line-height: var(--size-24);
}

.hireus-left-top-title-divider {
  width: 100%;
  height: var(--size-1);
  background: var(--white);
}

.hireus-left-bottom {
  gap: var(--size-50);
}

.hireus-left-person {
  justify-content: center;
  padding: 0px var(--size-20) 0px 0px;
  gap: var(--size-4);
}

.hireus-left-person h3 {
  font-weight: 700;
  font-size: var(--size-18);
  line-height: var(--size-22);
  color: var(--white);
}

.hireus-left-person h4 {
  font-size: var(--size-14);
  line-height: var(--size-17);
}

.hireus-left-person-imgs {
  align-items: center;
  gap: var(--size-30);
}

.hireus-left-person-imgs img {
  width: var(--size-40);
  height: var(--size-40);
  border-radius: var(--size-20);
}

.hireus-left-person-imgs .img-md {
  width: var(--size-60);
  height: var(--size-60);
  border-radius: var(--size-30);
}

.hireus-right {
  padding: var(--size-30);
  gap: var(--size-10);
  flex: 1;
  min-width: var(--size-375);
}

.hireus-right-form {
  align-items: center;
  padding: var(--size-30);
  gap: 2.3125rem;
  background: var(--white);
  border-radius: var(--size-10);
  width: 100%;
}

.hireus-right-form-data {
  gap: var(--size-20);
  width: 100%;
}

.hireus-right-form-data h3 {
  font-weight: 700;
  color: var(--black);
  line-height: var(--size-24);
  width: 100%;
}

.input-default-container {
  align-items: flex-start;
  gap: var(--size-20);
  width: 100%;
}

.input-default-container input,
.select-container,
.textarea-container {
  align-items: flex-start;
  padding: var(--size-10);
  gap: var(--size-10);
  border: var(--size-1) solid #e6e8f2;
  border-radius: var(--size-5);
  flex-grow: 1;
  width: 100%;
}

.select-container select {
  width: 100%;
  border: none;
  color: var(--black);
}

.textarea-container {
  width: 100%;
  height: 9.375rem;
}

.textarea-container textarea {
  font-size: var(--size-14);
  line-height: var(--size-22);
  color: #828282;
  width: 100%;
  border: none;
}

.hireus-right-form button {
  padding: var(--size-15) 1.5625rem;
  background: var(--accent-color-main);
  color: var(--white);
  border: none;
  border-radius: var(--size-30);
  font-size: var(--size-12);
  line-height: var(--size-15);
  cursor: pointer;
}

.form-checkbox {
  padding: 0px;
  gap: var(--size-16);
  border-radius: var(--size-5);
}

.checkbox-container {
  padding: var(--size-4) 0px 0px;
  gap: var(--size-10);
}

.checkbox-container input {
  width: 1.5625rem;
  height: var(--size-24);
  border: var(--size-1) solid #e6e8f2;
  border-radius: var(--size-3);
}

.checkbox-label {
  gap: var(--size-10);
  flex: 1;
}

.checkbox-label h3 {
  font-size: var(--size-14);
  font-weight: 500;
  line-height: var(--size-22);
  color: #828282;
  width: 100%;
}

.label-policy {
  align-items: flex-start;
  gap: 1.75rem;
}

.privacy-policy h3 a {
  font-weight: 700;
  font-size: var(--size-14);
  line-height: var(--size-22);
}
.policy-left div {
  border: var(--size-1) dashed var(--font-color-base);
}

.policy-right h3 {
  color: var(--accent-color-main);
}

.policy-right div {
  border: var(--size-1) dashed var(--accent-color-main);
}

/* Footer Section */
.footer-container {
  padding: var(--size-80) var(--size-30) var(--size-40);
  gap: var(--size-40);
}

.footer-section-top-wrapper {
  align-items: flex-start;
  justify-content: center;
  gap: var(--size-40);
}

.footer-top-left-card {
  gap: var(--size-20);
}

.co-logo {
  width: 6.25rem;
}

.co-contact {
  gap: var(--size-10);
}

.co-contact-default {
  align-items: flex-start;
  gap: 0.5625rem;
}

.contact-icon {
  padding: 0.125rem 0px 0px;
  gap: var(--size-10);
}

.fa-solid {
  font-size: var(--size-12);
  font-weight: 900;
  line-height: var(--size-12);
  color: var(--font-color-base);
}

.co-contact-default h4 {
  font-size: var(--size-14);
  line-height: var(--size-17);
}

.co-phone-contact h4 {
  color: var(--accent-color-main);
}

.footer-top-right-card {
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 3.0625rem;
  flex-grow: 1;
}

.footer-top-right-card-wrapper {
  gap: var(--size-20);
}

.footer-top-right-card-wrapper h3 {
  font-weight: 900;
  font-size: var(--size-18);
  line-height: 1.3125rem;
  color: var(--black);
}

.footer-top-right-card-content {
  align-items: flex-start;
  gap: var(--size-10);
}

.footer-top-right-card-content h4 {
  font-size: var(--size-14);
  line-height: var(--size-17);
}

.tr-card-content-wrapper {
  align-items: center;
  gap: 0.5625rem;
}

.tr-card-content-wrapper h5 {
  padding: 0.125rem var(--size-4);
  background: var(--accent-color-main);
  color: var(--white);
  font-size: 0.5rem;
  line-height: var(--size-10);
  border-radius: var(--size-3);
}

.release-notes {
  color: var(--accent-color-main);
}

.footer-section-divider {
  width: 100%;
  height: var(--size-1);
  background: #e6e9f2;
}

.footer-section-bottom-wrapper {
  align-items: center;
  gap: var(--size-40);
}

.footer-bottom-header-container {
  justify-content: space-between;
  align-items: center;
  gap: 1.3125rem;
  width: 100%;
  flex-wrap: wrap;
}

.fb-header-left {
  align-items: flex-start;
  gap: 0.375rem;
}

.fb-header-left h4 {
  font-size: var(--size-14);
  line-height: var(--size-17);
}

.header-terms {
  color: var(--accent-color-main);
}

.fb-header-right {
  align-items: flex-end;
  gap: var(--size-20);
}

.icon-cards-default {
  justify-content: center;
  align-items: center;
  padding: 0px var(--size-4);
  gap: var(--size-10);
  width: var(--size-30);
  height: var(--size-30);
  background: #ecf2ff;
  border-radius: var(--size-5);
}

.fa-brands {
  color: var(--font-color-base);
  font-size: var(--size-14);
  line-height: var(--size-16);
  font-weight: 400;
}

.icon-card-google {
  background: var(--font-color-base);
}

.fa-google {
  color: #ecf2ff;
}

.country-selector-container {
  justify-content: center;
  align-items: center;
  padding: 0px var(--size-13);
  gap: var(--size-20);
  background: #ecf2ff;
  border-radius: var(--size-5);
  height: var(--size-30);
}

.country-selector-wrapper {
  align-items: center;
  gap: var(--size-10);
}

.country-selector-wrapper select {
  font-size: var(--size-14);
  font-weight: 400;
  line-height: var(--size-16);
  border: none;
  background: transparent;
  color: var(--black);
  cursor: pointer;
}

.footer-bottom-copywright-container {
  justify-content: center;
  align-items: center;
  gap: 1.3125rem;
}
.footer-bottom-copywright-container h4 {
  font-size: var(--size-14);
  text-align: center;
}
.copywright-top {
  line-height: var(--size-17);
}
.copywright-bottom {
  line-height: var(--size-22);
  max-width: 43.75rem;
}
