.top-section {
  max-width: 1024px;
  height: 532px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-10) var(--size-30);
  margin: var(--size-10) 0;
}

header img {
  width: 155px;
  margin-right: auto;
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: var(--size-20);
}

.nav-list li {
  font-size: var(--size-14);
  line-height: var(--size-17);
}

.header-features {
  color: var(--accent-color-main);
}

header button {
  padding: var(--size-15) 25px;
  border-radius: var(--size-30);
  color: var(--white);
  background: var(--accent-color-main);
  border: 1px solid transparent;
  margin-left: var(--size-30);
  margin-right: var(--size-10);
  font-size: var(--size-12);
  line-height: var(--size-15);
}

.top-section-bg {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  z-index: -1;
}

.top-bg-svgs {
  width: 1023.5px;
  height: 517px;
}

/* hero section cards */
.hero-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: var(--size-40) var(--size-30) 0;
  gap: 10px;
}

.hero-card-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  flex: 1 1 0;
  padding: 0 0 60px;
  width: 100%;
}

.hero-card-left-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  margin-top: 48px;
}

.hero-card-left-title h2 {
  font-size: var(--size-40);
  line-height: 48px;
  color: var(--black);
  margin: 0;
  font-weight: 500;
}

.hero-card-left-title h5 {
  font-size: var(--size-14);
  line-height: var(--size-17);
  margin: 0;
  font-weight: 500;
}

.hero-card-left-clickable {
  display: flex;
  align-items: center;
  gap: 24px;
}

.play-video-button {
  background: var(--accent-color-main);
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 25px;
  border-radius: 30px;
  border: 1px solid transparent;
  font-size: var(--size-12);
}

.hero-card-left-button i {
  color: var(--white);
  background-color: var(--accent-color-main);
}

.hero-card-left-clickable a {
  color: var(--accent-color-main);
  font-weight: 700;
  font-size: var(--size-14);
}

.hero-card-right {
  width: 100%;
  position: relative;
  flex: 1 1 0;
}

.logo-default-sm {
  width: var(--size-60);
  background-color: var(--white);
  box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  position: absolute;
}

.logo-default-sm img {
  width: 100%;
  padding: 10px;
}

.logo-default-lg {
  width: var(--size-80);
  background-color: var(--white);
  box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  margin: auto;
  position: absolute;
}

.logo-default-lg img {
  width: 100%;
  padding: 16px;
}

.google-logo {
  left: 64px;
}

.atlassian-logo {
  left: 175px;
}

.asana-logo {
  left: 380px;
}

.paypal-logo {
  left: 44px;
}

.weave-logo {
  left: 262px;
}

.googleAds-logo {
  animation-duration: 1s;
  animation-name: googleAds-slideUp;
  animation-timing-function: ease-in-out;
  top: 290px;
  left: 155px;
}

.calendar-logo {
  animation-duration: 1s;
  animation-name: calendar-slideUp;
  animation-timing-function: ease-in-out;
  top: 310px;
  left: 364px;
}

.top-level-logo {
  animation-duration: 1s;
  animation-name: toplogo-slideUp;
  animation-timing-function: ease-in-out;
  top: 10px;
}

.mid-level-logo {
  animation-duration: 1s;
  animation-name: midlogo-slideUp;
  animation-timing-function: ease-in-out;
  top: 172px;
}

@keyframes toplogo-slideUp {
  from {
    top: 60px;
  }

  50% {
    display: block;
  }

  to {
    top: 10px;
  }
}

@keyframes midlogo-slideUp {
  from {
    top: 222px;
  }
  to {
    top: 172px;
  }
}

@keyframes googleAds-slideUp {
  from {
    top: 340px;
  }
  to {
    top: 290px;
  }
}

@keyframes calendar-slideUp {
  from {
    top: 360px;
  }
  to {
    top: 310px;
  }
}

/* Key Benefits Section */
.key-benefits-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 120px 0 80px;
  gap: 60px;
}

.key-benefits-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0; */
  gap: 10px;
}

.key-benefits-title h2 {
  font-size: var(--size-26);
  font-weight: 700;
  color: var(--black);
  line-height: 31px;
  margin: 0;
}

.key-benefits-title h5 {
  margin: 0;
}

.key-benefits-card-container {
  display: flex;
  padding: 10px 30px;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
}

.key-benefits-card-default {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--white);
  padding: 20px;
  flex: 1;
}

.key-benefits-card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  text-align: start;
}

.key-benefits-card-info img {
  width: 50px;
}

.key-benefits-card-info h3 {
  color: var(--black);
  font-weight: 700;
}

.key-benefits-card-info p {
  font-size: 14px;
}

.key-benefits-card-info a {
  font-size: 14px;
  color: var(--accent-color-main);
  font-weight: 700;
}

/* banner section */
.banner-section {
  padding: 0 30px 80px;
}

.banner-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background: #f8fafe;
}

.left-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 26px;
  flex: 1 1 0;
  padding: 10px 30px;
  min-width: 375px;
  max-width: 450px;
}

.left-banner h3 {
  font-size: 26px;
  color: black;
  font-weight: 500;
  margin-bottom: 0;
}

.right-banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
  flex: 1 1 0;
  min-width: 375px;
  height: 470px;
}

.right-banner img {
  height: 353px;
}

/* Why Font Section */

.why-font-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 80px;
}

.why-font-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;
  margin-bottom: 40px;
}

.why-font-title h3 {
  font-size: var(--size-26);
  color: var(--black);
  font-weight: 700;
  margin: 0;
}

.why-font-title p {
  width: 600px;
  text-align: center;
  margin-top: 0;
}

.why-font-cards {
  display: flex;
  padding: 0 34px;
}

.wf-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 26px 0;
  /* border: 1px solid salmon; */
}

.wf-card h3 {
  color: var(--black);
  font-weight: 500;
}

.bullet-container {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  /* border: 1px solid blueviolet; */
}
.bullet {
  width: 50px;
  height: 50px;
}

.line {
  background: #e6e9f2;
  height: 1px;
  width: 100%;
  flex: 1;
}

.line-transparent {
  background: transparent;
}

/* Banner play section */

.banner-play-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 30px 80px;
}

.banner-container {
  position: relative;
}

.circle-play-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 4px;
  border-radius: 35px;
  box-shadow: 0 0 10px rgb(0 0 0 / 25%);
  width: 70px;
  height: 70px;
  position: absolute;
  top: 172px;
  left: 447px;
  background: var(--white);
}

.circle-play-video {
  background: transparent;
  border: transparent;
  text-align: center;
  font-size: 20px;
}

.hubspot-section {
  display: flex;
  align-items: flex-start;
  gap: 60px;
}

.hubspot-card-left {
  /* flex: 1; */
  position: relative;
  width: 452px;
  height: 560px;
}
.dots-svg {
  width: 200px;
  position: absolute;
  top: 111px;
  left: 28px;
}

.hubspot-person {
  width: 371px;
  height: 425px;
  position: absolute;
  top: 0;
  left: 81px;
}

.hubspot-card-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding: 0px 30px 0px 0px;
  height: 560px;
}
.hubspot-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 30px;
}

.hubspot-title img {
  width: 100px;
}

.hubspot-title p {
  font-size: 22px;
  color: black;
  line-height: 32px;
  margin: 0;
}

.hubspot-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px 100px 0;
  gap: 4px;
}

.hubspot-desc h3 {
  margin: 0;
  color: black;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.hubspot-desc h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  margin: 0;
}

/* Brands Section */
.brands-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 80px;
  gap: 45px;
}

.brands-title {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 10px;
}

.brands-title h3 {
  font-size: 20px;
  font-weight: 700;
  color: #5f6368;
  text-align: center;
  text-transform: uppercase;
  line-height: 24px;
  margin: 0;
}

.brands-list {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0 30px;
  gap: 91px;
  height: 59px;
}

.brands-list img {
  height: 40px;
}

/* Pricing Section */
.pricing-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 60px;
  padding: 0 0 120px;
}

.pricing-section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.pricing-section-title h3 {
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  text-align: center;
  color: var(--black);
  margin: 0;
}

.pricing-section-title h4 {
  line-height: 19px;
  text-align: center;
  margin: 0;
}

.pricing-section-cards {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  padding: 0 44px;
  width: 100%;
  height: 452px;
}

.pricing-card-plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding: 40px;
  min-width: 370px;
  min-height: 100%;
  border: 1px solid var(--white);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.plan-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  margin: 0;
}

.plan-price {
  display: flex;
  align-items: flex-end;
  padding: 0px;
  gap: 7px;
}

.plan-price h3 {
  font-size: 50px;
  font-weight: 500;
  line-height: 61px;
  margin: 0;
  color: var(--black);
}

.plan-period {
  display: flex;
  align-items: flex-start;
  padding: 0px 0px 9px;
  gap: 7px;
}

.plan-period h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}

.plan-divider {
  width: 100%;
  height: 1px;
  background: #8d8d8d;
}

.plan-header h4 {
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}

.plan-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

.plan-footer h4 {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}

.pricing-card-feat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-grow: 1;
}

.pricing-card-row-default {
  display: flex;
  align-items: flex-start;
  padding: 0px;
}

.row-card-default {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  border: 1px solid var(--white);
  flex: 1;
}

.row-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.row-card-content img {
  width: 50px;
  height: 50px;
}

.row-card-content h3 {
  font-size: var(--size-18);
  font-weight: 700;
  line-height: 22px;
  color: var(--black);
}

.row-card-content p {
  font-size: var(--size-14);
  line-height: 22px;
}

.bottom-row-card-left-top-title {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

.bottom-row-card-left-top-title h4 {
  font-weight: 700;
  line-height: 19px;
  color: var(--black);
}

.bottom-row-card-left-top-title-status {
  display: flex;
  align-items: flex-start;
  padding: 4px 10px;
  gap: 10px;
  background: #01c9a7;
  border-radius: 15px;
}

.bottom-row-card-left-top-title-status span {
  color: var(--white);
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
}

.bottom-row-card-left-bottom {
  line-height: 24px;
}

/* Hire Us Section */
.hireus-section {
  display: flex;
  align-items: center;
  padding: 0px;
  background: #20335b;
}

.hireus-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 0px 0px 70px;
  gap: 60px;
  flex: 1;
}

.hireus-left-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

.hireus-left-top-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 34px;
  width: 180px;
}

.hireus-left-top p {
  width: 363px;
  line-height: 24px;
  color: var(--white);
  font-style: italic;
}

.hireus-left-top-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

.hireus-left-top-title h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  color: var(--white);
}

.hireus-left-top-title h4 {
  line-height: 24px;
}

.hireus-left-top-title-divider {
  width: 100%;
  height: 1px;
  background: var(--white);
}

.hireus-left-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 50px;
}

.hireus-left-person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 20px 0px 0px;
  gap: 4px;
}

.hireus-left-person h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--white);
}

.hireus-left-person h4 {
  font-size: 14px;
  line-height: 17px;
}

.hireus-left-person-imgs {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 30px;
}

.hireus-left-person-imgs img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.hireus-left-person-imgs .img-md {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.hireus-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 10px;
  flex: 1;
  width: 100%;
}

.hireus-right-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 37px;
  background: var(--white);
  border-radius: 10px;
}

.hireus-right-form-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.hireus-right-form-data h3 {
  font-weight: 700;
  color: var(--black);
  line-height: 24px;
  width: 392px;
}

.input-default-container {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 392px;
}

.input-default-container input,
.select-container,
.textarea-container {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  border: 1px solid #e6e8f2;
  border-radius: 5px;
  flex-grow: 1;
  width: 100%;
}

.select-container select {
  width: 100%;
  border: none;
  color: var(--black);
}

.textarea-container {
  width: 100%;
  height: 150px;
}

.textarea-container textarea {
  font-size: 14px;
  line-height: 22px;
  color: #828282;
  width: 100%;
  border: none;
}

.hireus-right-form button {
  padding: 15px 25px;
  background: var(--accent-color-main);
  color: var(--white);
  border: none;
  border-radius: 30px;
  font-size: 12px;
  line-height: 15px;
}

.form-checkbox {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  border-radius: 5px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px 0px 0px;
  gap: 10px;
}

.checkbox-container input {
  width: 25px;
  height: 24px;
  border: 1px solid #e6e8f2;
  border-radius: 3px;
}

.checkbox-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  flex-grow: 1;
}

.checkbox-label h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #828282;
  width: 100%;
}

.label-policy {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 28px;
}

.privacy-policy h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}
.policy-left div {
  border: 1px dashed var(--font-color-base);
}

.policy-right h3 {
  color: var(--accent-color-main);
}

.policy-right div {
  border: 1px dashed var(--accent-color-main);
}

/* Footer Section */

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px 30px 40px;
  gap: 40px;
}

.footer-section-top-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0px;
  gap: 40px;
}

.footer-top-left-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.co-logo {
  width: 100px;
  height: 29.76px;
}

.co-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

.co-contact-default {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 9px;
}

.contact-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px 0px 0px;
  gap: 10px;
}

.fa-solid {
  font-size: var(--size-12);
  font-weight: 900;
  line-height: var(--size-12);
  color: var(--font-color-base);
}

.co-contact-default h4 {
  font-size: 14px;
  line-height: 17px;
}

.co-phone-contact h4 {
  color: var(--accent-color-main);
}

.footer-top-right-card {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 49px;
  flex-grow: 1;
}

.footer-top-right-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.footer-top-right-card-wrapper h3 {
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  color: var(--black);
}

.footer-top-right-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

.footer-top-right-card-content h4 {
  font-size: 14px;
  line-height: 17px;
}

.tr-card-content-wrapper {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 9px;
}

.tr-card-content-wrapper h5 {
  padding: 2px 4px;
  background: var(--accent-color-main);
  color: white;
  font-size: 8px;
  line-height: 10px;
  border-radius: 3px;
}

.release-notes {
  color: var(--accent-color-main);
}

.footer-section-divider {
  width: 100%;
  height: 1px;
  background: #e6e9f2;
}

.footer-section-bottom-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 40px;
}

.footer-bottom-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 212px;
  width: 100%;
}

.fb-header-left {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;
}

.fb-header-left h4 {
  font-size: 14px;
  line-height: 17px;
}

.header-terms {
  color: var(--accent-color-main);
}

.fb-header-right {
  display: flex;
  align-items: flex-end;
  padding: 0px;
  gap: 20px;
}

.icon-cards-default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 4px;
  gap: 10px;
  width: 30px;
  height: 30px;
  background: #ecf2ff;
  border-radius: 5px;
}

.fa-brands {
  color: var(--font-color-base);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.icon-card-google {
  background: var(--font-color-base);
}

.fa-google {
  color: #ecf2ff;
}

.country-selector-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 13px;
  gap: 20px;
  background: #ecf2ff;
  border-radius: 5px;
  height: 30px;
}

.country-selector-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

.country-selector-wrapper select {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  border: none;
  background: transparent;
  color: var(--black);
}

.footer-bottom-copywright-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 21px;
}
.footer-bottom-copywright-container h4 {
  font-size: var(--size-14);
}
.copywright-top {
  line-height: 17px;
}
.copywright-bottom {
  line-height: 22px;
  width: 700px;
}
